<%#
 % History page.
 %-%>

<% include header1.ejs -%>
<title>Slot <%= l.slot %> - <%= l.util.branding %> FATE</title>
<% include header2.ejs -%>
Report history for <%= l.slot %>
<% include header3.ejs -%>

<ul class="pager">
  <li class="previous">
    <a href="/">&larr; Index</a>
  </li>
</ul>

<%
  var info = [
//  [ human readable,  variable,          escape?, skip if empty? ]
    [ 'Owner',         l.owner ]
  , [ 'Architecture',  l.reps[0].subarch ]
  , [ 'OS',            l.reps[0].os ]
  , [ 'Compiler',      l.reps[0].cc ]
  , [ 'Configuration', '<code>' + l.util.formatConfig(l.reps[0].config) + '</code>', true ]
  , [ 'Comment',       l.reps[0].comment, false,   true ]
  ]
 %>

<%# This table is only for bigger screens where two columns can be used. -%>
<div class="hidden-xs table-responsive">
  <table class="table" id="config">
    <thead>
      <tr><th colspan="2">Last Run Information</th></tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < info.length; i ++ ) { %>
        <% var prop = info[i] %>
        <% if (prop[3] && !prop[1]) continue %>
        <tr>
          <th><%- prop[0] %></th>
          <% if (prop[2]) { %>
            <td><%- prop[1] %></td>
          <% } else { %>
            <td><%= prop[1] %></td>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%# A <dl> is easier to style in a single-column fashion.
  # XXX: generate this with client-side JavaScript?
  #      investigate other CSS options? -%>
<dl class="visible-xs-block dl-config">
  <% for (var i = 0; i < info.length; i ++ ) { %>
    <% var prop = info[i] %>
    <% if (prop[3] && !prop[1]) continue %>
    <dt><%- prop[0] %></dt>
    <dd>
      <% if (prop[2]) { %>
        <%- prop[1] %>
      <% } else { %>
        <%= prop[1] %>
      <% } %>
    </dd>
  <% } %>
</dl>

<div class="table-responsive">
  <table class="replist table footable" id="history">
    <% var propsToDisplay = ['date', 'rev', 'nwarn', 'results'] -%>
    <thead><tr>
      <th data-type="numeric">Time</th>
      <th data-hide="xs,phone">Revision</th>
      <th data-hide="xs,phone" data-ignore="true" data-type="numeric">
        Warnings
      </th>
      <th>Results</th>
    </tr></thead>

    <tbody>
    <% for (var i = 0; i < l.reps.length; i++) { -%>
      <% var rep = l.reps[i] -%>
      <% var repMoment = l.ts.getMoment(rep.date) -%>
      <tr>
        <td data-value="<%- repMoment.unix() %>">
          <%- l.ts.formatDate(repMoment) %>
        </td>
        <td>
          <%- l.util.linkGitHist(rep.rev) %>
        </td>
        <td>
          <a href="<%= [ '/log', rep.slot, rep.date, 'compile' ].join('/') %>">
            <%= rep.nwarn %>
          </a>
        </td>
        <td class="<%- rep.rclass %>"
            data-value="<%- rep.status %><%- rep.rtext %>">
          <a href="<%= '/report/' + rep.slot + '/' + rep.date %>">
            <%= rep.rtext %>
          </a>
        </td>
      </tr>
    <% } -%>
    </tbody>
  </table>
</div>
<nav>
  <ul class="pager">
    <%# If the beginning of this page is not the real beginning, then add a
      # previous button -%>
    <% if (l.begin !== 0) { -%>
      <% var prevBegin = Math.max(0, l.begin - l.nEntries) -%>
      <li><a href="/history/<%= l.slot %>?begin=<%= prevBegin %>">Previous</a></li>
    <% } else { -%>
      <li class="disabled"><a href="#">Previous</a></li>
    <% } -%>

    <%# If the total number of entries is greater than the beginning of this
      # page + number of entries on this page, then add a next button -%>
    <% if (l.total > l.begin + l.nEntries) { -%>
      <li><a href="/history/<%= l.slot %>?begin=<%= l.begin + l.nEntries %>">Next</a></li>
    <% } else { -%>
      <li class="disabled"><a href="#">Next</a></li>
    <% } -%>
  </ul>
</nav>
<% include footer.ejs -%>
