<%#
 % History page.
 %-%>

<% include header1.ejs -%>
<title>Slot <%= l.slot %> - <%= l.util.branding %> FATE</title>
<% include header2.ejs -%>
Report history for <%= l.slot %>
<% include header3.ejs -%>

<ul class="pager">
  <li class="previous">
    <a href="/">&larr; Index</a>
  </li>
</ul>

<%
  var info = [
  //[ human readable,  variable,          escape?, skip if empty? ] 
    [ 'Owner',         l.owner ]
  , [ 'Architecture',  l.reps[0].subarch ]
  , [ 'OS',            l.reps[0].os ]
  , [ 'Compiler',      l.reps[0].cc ]
  , [ 'Configuration', '<code>' + l.util.formatConfig(l.reps[0].config) + '</code>', true ]
  , [ 'Comment',       l.reps[0].comment, false,   true ]
  ]
 %>

<div class="hidden-xs table-responsive">
  <table class="table" id="config">
    <thead>
      <tr><th colspan="2">Last Run Information</th></tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < info.length; i ++ ) { %>
        <% var prop = info[i] %>
        <% if (prop[3] && !prop[1]) continue %>
        <tr>
          <th><%- prop[0] %></th>
          <% if (prop[2]) { %>
            <td><%- prop[1] %></td>
          <% } else { %>
            <td><%= prop[1] %></td>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<dl class="visible-xs-block dl-config">
  <% for (var i = 0; i < info.length; i ++ ) { %>
    <% var prop = info[i] %>
    <% if (prop[3] && !prop[1]) continue %>
    <dt><%- prop[0] %></dt>
    <dd>
      <% if (prop[2]) { %>
        <%- prop[1] %>
      <% } else { %>
        <%= prop[1] %>
      <% } %>
    </dd>
  <% } %>
</dl>

<div class="table-responsive">
  <table class="replist table footable" id="history">
    <% var propsToDisplay = ['date', 'rev', 'nwarn', 'results']
         , hide = {
             rev  : 'xs,phone'
           , nwarn: 'xs,phone'
           }
         , ignoreTimestamp = true
         , compareWithPrev = false -%>
    <% include replist.ejs -%>
  </table>
</div>
<nav>
  <ul class="pager">
    <% if (l.begin !== 0) { -%>
      <% var prevBegin = Math.max(0, l.begin - l.nEntries) -%>
      <li><a href="/history/<%= l.slot %>?begin=<%= prevBegin %>">Previous</a></li>
    <% } else { -%>
      <li class="disabled"><a href="#">Previous</a></li>
    <% } -%>
    <% if (l.total > l.begin + l.nEntries) { -%>
      <li><a href="/history/<%= l.slot %>?begin=<%= l.begin + l.nEntries %>">Next</a></li>
    <% } else { -%>
      <li class="disabled"><a href="#">Next</a></li>
    <% } -%>
  </ul>
</nav>
<% include footer.ejs -%>
