<%/*
 * List of reports.
 *
 * Copyright (c) 2014 Tiancheng "Timothy" Gu <timothygu99@gmail.com>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */-%>

<%/*
 * To use this, do something like this:
 *
 *     l.reps = [ parse.loadSummary('c', 20140101000000)
 *              , parse.loadSummary('d', 20140102000000)
 *              ]
 *
 * Then include this file. The input array of summaries must be in
 * `l.reps`.
 */-%>

<% var now = l.moment.utc() -%>
<% propsToDisplay = propsToDisplay || [
                      'date', 'rev', 'subarch', 'os'
                    , 'cc', 'nwarn', 'results'
                    ] -%>
<% hide = hide || {} -%>

<% var headings = { date      : 'Time'
                  ,'date-link': 'Time'
                  , rev       : 'Revision'
                  , subarch   : 'Arch'
                  , os        : 'OS'
                  , cc        : 'Compiler'
                  , comment   : 'Comment'
                  , nwarn     : 'Warnings'
                  , results   : 'Results'
                  }
   , fooTableOp = { nwarn     : 'data-ignore="true" data-type="numeric" '
                  , comment   : 'data-sort-ignore="true" '
                  }
   -%>

<thead><tr>
<% for (var j = 0; j < propsToDisplay.length; j++) { -%>
  <% var prop = propsToDisplay[j] -%>
  <th data-hide="<%- hide[prop] || '' %>" <%- fooTableOp[prop] %>>
    <%= headings[propsToDisplay[j]] %>
  </th>
<% } -%>
</tr></thead>

<tbody>
<% for (var i = 0; i < l.reps.length; i++) { -%>
  <% var rep = l.reps[i] -%>
  <% var repClass = '' -%>
  <% var repMoment = l.ts.getMoment(rep.date) -%>
  <% if (now.unix() < repMoment.unix() + l.ts.RECENT_AGE) {
      repClass = 'recent'
    } else if (now.unix() > repMoment.unix() + l.ts.ANCIENT_AGE) {
      repClass = 'ancient'
    } else if (now.unix() > repMoment.unix() + l.ts.HIDDEN_AGE) {
      continue
    } -%>
  <tr class="<%= repClass %>">
    <% for (var j = 0; j < propsToDisplay.length; j++) { -%>
      <% var prop = propsToDisplay[j] -%>
      <% if (prop === 'date') { -%>
        <td>
          <%= l.ts.formatDate(repMoment) %>
        </td>
      <% } else if (prop === 'date-link') { -%>
        <td>
          <a href="<%= '/history/' + rep.slot %>"
             title="View history for <%= rep.slot %>"
             aria-label="View history for this slot">
            <%= l.ts.formatDate(repMoment) %>
          </a>
        </td>
      <% } else if (prop === 'rev') { -%>
        <td>
          <%- l.util.linkGitHist(rep.rev) %>
        </td>
      <% } else if (prop === 'results') { -%>
        <td class="<%- rep.rclass %>"
            data-value="<%- rep.status %><%- rep.rtext %>">
          <a href="<%= '/report/' + rep.slot + '/' + rep.date %>">
            <%= rep.rtext %>
          </a>
        </td>
      <% } else { -%>
        <td><%= rep[prop] %></td>
      <% } -%>
      </td>
    <% } -%>
  </tr>
<% } -%>
</tbody>
