<%#
 % List of reports.
 %-%>

<%#
 % To use this, do something like this:
 %
 %     l.reps = [ parse.loadSummary('c', 20140101000000)
 %              , parse.loadSummary('d', 20140102000000)
 %              ]
 %
 % Then include this file. The input array of summaries must be in
 % `l.reps`.
 %-%>

<% var now = l.moment.utc() -%>

<% var headings = { date      : 'Time'
                  ,'date-link': 'Time'
                  , rev       : 'Revision'
                  , subarch   : 'Arch'
                  , os        : 'OS'
                  , cc        : 'Compiler'
                  , comment   : 'Comment'
                  , nwarn     : 'Warnings'
                  , results   : 'Results'
                  }
   , fooTableOp = { date      : 'data-type="numeric"'
                  ,'date-link': 'data-type="numeric"'
                  , nwarn     : 'data-ignore="true" data-type="numeric" '
                  , comment   : 'data-sort-ignore="true" '
                  }
   -%>

<thead><tr>
<% for (var j = 0; j < propsToDisplay.length; j++) { -%>
  <% var prop = propsToDisplay[j] -%>
  <th data-hide="<%- hide[prop] || '' %>" <%- fooTableOp[prop] %>>
    <%= headings[propsToDisplay[j]] %>
  </th>
<% } -%>
</tr></thead>

<tbody>
<% for (var i = 0; i < l.reps.length; i++) { -%>
  <%# When `compareWithPrev` is true rep is the current one, while `prevRep`
    # is, well, the previous one. When it's false `prevRep` is undefined. %>
  <% var rep = l.reps[i]
       , prevRep = undefined -%>
  <% if (compareWithPrev) {
       prevRep = rep[1]
       rep     = rep[0]
     } -%>
  <% var repClass = '' -%>
  <% var repMoment = l.ts.getMoment(rep.date) -%>
  <% if (!ignoreTimestamp) {
       if (now.unix() < repMoment.unix() + l.ts.RECENT_AGE) {
         repClass += ' recent'
       } else if (now.unix() > repMoment.unix() + l.ts.HIDDEN_AGE) {
         continue
       } else if (now.unix() > repMoment.unix() + l.ts.ANCIENT_AGE) {
         repClass += ' ancient'
       }
     } -%>
  <% if (prevRep) {
       var passedMoreThanFailed = rep.npass > rep.nfail
       if (prevRep.status > rep.status
       || (passedMoreThanFailed ? prevRep.nfail > rep.nfail
                                : prevRep.npass < rep.npass)) {
         repClass += ' pass'
       } else if (prevRep.status < rep.status
              || (passedMoreThanFailed ? prevRep.nfail < rep.nfail
                                       : prevRep.npass > rep.npass)) {
         repClass += ' warn'
       }
     } -%>
  <tr class="<%= repClass %>">
    <% for (var j = 0; j < propsToDisplay.length; j++) { -%>
      <% var prop = propsToDisplay[j] -%>
      <% if (prop === 'date') { -%>
        <td data-value="<%- repMoment.unix() %>">
          <%- l.ts.formatDate(repMoment) %>
        </td>
      <% } else if (prop === 'date-link') { -%>
        <td data-value="<%- repMoment.unix() %>">
          <a href="<%= '/history/' + rep.slot %>"
             title="View history for <%= rep.slot %>"
             aria-label="View history for this slot">
            <%- l.ts.formatDate(repMoment) %>
          </a>
        </td>
      <% } else if (prop === 'rev') { -%>
        <td>
          <%- l.util.linkGitHist(rep.rev) %>
        </td>
      <% } else if (prop === 'nwarn') { -%>
        <td>
          <a href="<%= [ '/log', rep.slot, rep.date, 'compile' ].join('/') %>">
            <%= rep.nwarn %>
          </a>
        </td>
      <% } else if (prop === 'results') { -%>
        <td class="<%- rep.rclass %>"
            data-value="<%- rep.status %><%- rep.rtext %>">
          <a href="<%= '/report/' + rep.slot + '/' + rep.date %>">
            <%= rep.rtext %>
          </a>
        </td>
      <% } else { -%>
        <td><%= rep[prop] %></td>
      <% } -%>
    <% } -%>
  </tr>
<% } -%>
</tbody>
