
mixin replist(propsToDisplay, reps)
  - var now = moment.utc()
  - var propsToDisplay = propsToDisplay || ['date', 'rev', 'subarch', 'os', 'cc', 'nwarn', 'results']
  each rep, i in reps
    - var repClass = ''
    - var repMoment = ts.getMoment(rep.date)
    if now.unix() < repMoment.unix() + ts.recentAge
      - repClass = 'recent'
    else if now.unix() > repMoment.unix() + ts.ancientAge
      - repClass = 'ancient'
    else if now.unix() > repMoment.unix() + ts.hiddenAge
      - continue
    tr(class=repClass)
      each prop, i in propsToDisplay
        case prop
          when 'date'
            td= repMoment.fromNow()
          when 'rev'
            td
              +linkGitwebHistory(rep.rev)
          when 'results'
            td(class=rep.rclass)
              a(href='/report/' + slot + '/' + rep.date)= rep.rtext
          default
            td= rep[prop]
